@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

body {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.text_orange {
    color: #F05A00;
}

.text_big {
    font-weight: 400;
    font-family: 'Prosto One', sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.section-1 {
    max-width: 100vw;
    padding: 20px 15vw;
}

.container {
    padding: 0 15vw;
}

.indent-top {
    padding-top: 21vh;
}

.indent_bottom {
    margin-left: 20px;
}

.block img {
    border-radius: 5px;
    width: 93%;
    height: 100%;
    margin: 10px;

}

.block_txt {
    position: absolute;
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Prosto One', sans-serif;
    text-align: left;
    z-index: 1;
    font-size: 1vw;
}

.block_txt_big {
    font-size: 2vw;
}

#section_1_img_1 {
    width: 95%;
    height: 94.4%;
}

#section_1_img_2 {
    width: 90%;
    height: 94.4%;
}

.section_button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 1;
    transform: translate(0.65vw, -4.3vw);
}

.section_button:hover {
    background-color: #F05A00;
}

.bg-main {
    background-color: #F2F5F7;
}

.bg-white {
    background-color: white;
}

.main_card-product {
    width: 18vw;
    height: 100%;
    min-width: 270px;
    padding: 1vw;
    color: black;
    margin: 20px;
    border-radius: 10px 10px 0 10px;
    transition: all 0.3s ease;
}

.main_card-product:hover {
    scale: 1.05;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-product_img {
    display: flex;
    margin: 10px auto;

}

.card-product_icon svg {
    cursor: pointer;
}

.text_card {
    font-weight: 600;
}

.text_clr {
    color: #DEDBDB;
}

.content-1 {
    justify-content: space-between;
}

.content-2 {
    align-items: end;
}

.product_new {
    background-color: #180A3E;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px;
}

.product_promotion {
    background-color: #F05A00;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px;
}

.product_none {
    opacity: 0;
    background-color: #180a3e00;
    cursor: default;
}


.line {
    background-color: #DEDBDB;
    width: 22%;
    height: 2px;
}

.active-orange {
    background-color: #FFB78B;
}

.txt_price p {
    margin-right: 10px;
    align-items: end;
}

.icon_price {
    position: relative;
    top: 16px;
    left: 1vw;
    cursor: pointer;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3vw;
}

.rotate_180 {
    transform: rotate(180deg);
}

.container_3 {
    justify-content: space-around;
}

.container_2 {
    padding: 2vw 9vw;
}

.content_4 {
    align-items: center;
}

.slide_brand {
    margin: 10px;

}

.slide_brand img {
    width: 12vw;
}

.txt_slider {
    font-family: 'Prosto One', sans-serif;
    padding-top: 2vw;
}

.arrow {
    min-width: 30px;
    margin: 10px;
    cursor: pointer;
}

.section_2_txt {
    color: black;
    margin: 2vw;
    line-height: 24px;
    font-size: 16px;
    max-width: 500px;
}

.section_2_txt_big {
    font-family: 'Prosto One', sans-serif;
    color: black;
    margin: 5vw 2vw 2vw;
    font-size: 2vw;
}

.section_2_img {
    margin: 5vw 0;
}

.section_2_button {
    background-color: #212526;
    padding: 1vw;
    margin: 2vw;
    border-radius: 5px;
    display: block;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_3_button {
    background-color: #F05A00;
    padding: 1vw;
    margin: 2vw;
    border-radius: 5px;
    display: block;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_2_dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: white;
    margin: 2px;
}

.dot_active {
    background-color: #F05A00;
}

.link_slider {
    color: #F05A00;
}

.content-center {
    justify-content: end;
    align-items: center;
    padding: 0px 7vw 20px 20px;
}

.slider_2_dot_margin {
    margin-right: 31vw;
}

.link_slider_2 {
    font-size: 20px;
    color: #212526;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: 'Prosto One', sans-serif;

}

.link_active {
    color: white;
}

.img_news {
    min-width: 350px;
    width: 15vw;
}

.news {
    margin-left: 10px;
    margin-bottom: 30px;
}

.text_news {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 15px 0 5px;
}

.text_news_data {
    font-size: 16px;
    color: #000;
}

.section_3_txt {
    color: black;
    margin: 2vw;
    line-height: 24px;
    font-size: 16px;
    width: 250px;
}

.wrap_news {
    flex-wrap: wrap;
    justify-content: space-between;
}

.indent_news {
    margin: 5vw 0;
}


.footer_flex {
    display: flex;
    justify-content: space-around;
}

.footer_link {
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-size: 16px;


}

.footer_link a {
    padding: 10px 0;
    color: rgb(217, 218, 222);
}